[user]
email = kevin@supergoon.com
name = Kevin Blanchard
[alias]
br = branch
a = add
st = status
co = checkout
c = commit
l = log
last = log --oneline | head
dotfiles = !git --git-dir=\"$HOME/dotfiles/.git\" --work-tree=\"$HOME\"

[mergetool]
keepBackup = false
[pull]
rebase = false
[core]
editor = vim
[merge]
tool = vimdiff
[credential]
helper = osxkeychain
