[user]
email = kevin@supergoon.com
name = Kevin Blanchard
[alias]
br = branch
a = add
st = status
co = checkout
c = commit
l = log
last = log --oneline | head
dotfiles = !git --git-dir=\"$HOME/dotfiles/.git\" --work-tree=\"$HOME\"


[delta]
navigate = true  # use n and N to move between diff sections
dark = true      # or light = true, or omit for auto-detection

[mergetool]
keepBackup = false
[pull]
rebase = false
[core]
editor = vim
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
excludesfile = ~/.gitignore
pager = delta 
autocrlf = input
[merge]
prompt = false
keepBackup = false
keepTemporaries = false
tool = vimdiff
[credential]
helper = osxkeychain
[status]
relativePaths = true
[interactive]
diffFilter = delta --color-only
[web]
browser = firefox
[push]
default = current
autoSetupRemote = true

[status]
relativePaths = true

[interactive]
diffFilter = delta --color-only

[web]
browser = firefox

[push]
default = current
autoSetupRemote = true


